<div class="product-cards" *ngFor="let product of products; index as productId">
  <div class="product-card">
    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', productId]"
      >
        {{ product.name }}
      </a>
    </h3>
    <div class="horizontal-line"></div>

    <p *ngIf="product.description">Description: {{ product.description }}</p>

    <button (click)="share()">
      Share
    </button>

    <app-product-alerts
      [product]="product"
      (notify)="onNotify()"
    ></app-product-alerts>
  </div>
</div>
